@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('fonts/TitilliumText22L001-webfont.eot');
    src: url('fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('fonts/TitilliumText22L002-webfont.eot');
    src: url('fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('fonts/TitilliumText22L003-webfont.eot');
    src: url('fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('fonts/TitilliumText22L004-webfont.eot');
    src: url('fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('fonts/TitilliumText22L005-webfont.eot');
    src: url('fonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('fonts/TitilliumText22L006-webfont.eot');
    src: url('fonts/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a:hover,a:focus,a:active {
	outline-width:0
}

body {
	position: relative;
	line-height: 1;
	width: 1080px;
	height: 1920px;
	font-size: 13px;
	overflow-y: hidden;
	overflow-x: hidden;
	background: #000;
}
body,html {
	overflow: hidden;
}

#transition {
	background: #FFF;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 1920px;
	z-index: 999;
	display: none;
}
.container {
	width: 1080px;
	height: 1920px;
	position: relative;
	display: none;
}
#step_one {
	display: block;
	background: url(../img/bg_step_one.png) no-repeat 0 0;
}
#step_one_gallery {
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	visibility: hidden;
}
#step_one_gallery .item {
    text-align: center;
	width: 1000px;
	height: 1920px;
	padding: 0 40px;
}
#step_one_gallery .item h1 {
	color: #fefefe;
	line-height: 1;
	font-family: 'TitilliumText22LBold';
	white-space:nowrap;
}
.container .header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 283px;
	background: transparent url(../img/bg_header.png) no-repeat 0 0;
}
.container img.step_two {
	margin-top: 240px;
}
#step_two_b .header {
	background-position: -1080px 0;
}
#step_two_c .header {
	background-position: -2160px 0;
}
#step_three {
	background: transparent url(../img/bg_touch_to_start.png) no-repeat 0 0;
}
#step_three.active {
	background-position: -1080px 0;
}
#step_three a {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 1920px;
}
#step_four {
	background: transparent url(../img/bg_step_four.png) no-repeat 0 0;
}
#step_four #header_text {
	width: 1080px;
	height: 258px;
	display:table;
}
#step_four #header_text h1 {
	color: #fefefe;
	line-height: 1;
	font-family: 'TitilliumText22LBold';
	white-space:nowrap;
	font-size: 80px;
	padding-left: 80px;
	display:table-cell;
    vertical-align:middle;
}
#step_four #gallery_text {
	width: 1080px;
	height: 661px;
	position: relative;
}
#step_four #gallery_text .item {
	position: absolute;
	width: 1080px;
	height: 661px;
}
#step_four #gallery_text .item ul {
	padding: 70px 0 0 80px;
}
#step_four #gallery_text .item ul li {
	font-family: 'TitilliumText22LLight';
	display: block;
	list-style: none;
	font-size: 72px;
	color: #FEFEFE;
	line-height: 100px;
	padding: 0 0 0 55px;
	background: transparent url(../img/bg_bullet.png) no-repeat 0 30px;
}
#step_four #buttons {
	width: 1080px;
	margin: 60px 0 0 60px;
}
#step_four #buttons h2 {
	font-family: 'TitilliumText22LRegular';
	color: #FFF;
	font-size: 40px;
	padding-left: 28px;
	clear: both;
}
#step_four #buttons a {
	float: left;
	width: 320px;
	height: 386px;
	background: transparent url(../img/bg_buttons.png) no-repeat -55px -96px;
	position: relative;
}
#step_four #buttons a p {
	height: 90px;
	left: 30px;
	position: absolute;
	text-align: center;
	top: 265px;
	width: 272px;
	display:table;
}
#step_four #buttons a p span {
	text-transform: uppercase;
	text-decoration: none;
	color: #d7eef6;
	font-family: 'TitilliumText22LBold';
	font-size: 28px;
	display:table-cell;
    vertical-align:middle;
}
#step_four #buttons a.active p span {
	color: #0d96c4;
}
#step_four #buttons #btn_buy_now.active {
	background-position: -1134px -96px;
}
#step_four #buttons #btn_sales_assist {
	background-position: -374px -96px;
}
#step_four #buttons #btn_sales_assist.active {
	background-position: -1454px -96px;
}
#step_four #buttons #btn_loyalty {
	background-position: -695px -96px;
}
#step_four #buttons #btn_loyalty.active {
	background-position: -1774px -96px;
}
#step_four #buttons #btn_also {
	background-position: -55px -576px;
}
#step_four #buttons #btn_also.active {
	background-position: -1134px -576px;
}
#step_four #buttons #btn_compare {
	background-position: -374px -576px;
}
#step_four #buttons #btn_compare.active {
	background-position: -1454px -576px;
}
#step_four #buttons #btn_social {
	background-position: -695px -576px;
}
#step_four #buttons #btn_social.active {
	background-position: -1774px -576px;
}
